@charset "utf-8";
/* CSS Document */

.container{
	width:1250px;
	height: 100%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	border-left:thin;
	border-right:thin;
	border:#666;
	

}
.body1{
	height: 100%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.accountoptions{
	float:right;
	margin-top: 5px;
}
.btn{
	width:100px;
	background-color:#A8C2FF;
	font-family:Arial;
	font-size:13px;
	border-radius:3px;
	border:1px solid #124d77;
}
.btn:active {
	position:relative;
	top:1px;
}
h2{
	color:#3366FF;
}
.header{
	margin-left: 12.5%;
	margin-right: 12.5%;
}
.menu{
	width: 100%;
	background-color:#ADC2FF; 
	margin-left: auto;
	margin-right: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
.listitem:link, .listitem:visited {
    display: inline-block;
	width: 200px;
    font-weight: bold;
    color:#3D2E00;
    background-color:#ADC2FF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.listitem:hover, .listitem:active {
    background-color:#7598FF;
}

.login{
	width = 50%;
	float:left;
	margin-left: 200px;
}
.register{
	width = 50%;
	float:left;
	margin-left: 200px;
}
#addstatus{
	border:hidden;
	resize:none;
	color:red;
	background-color:#F9FBFF;
}
#regstatus{
	border:hidden;
	resize:none;
	color:red;
}



.addapp{
	float:left;
	border:thin;
	background-color:#F9FBFF;
	width:35%;
}
.myapps{
	float:right;
	width: 65%;

}
    #f1_upload_process{
       z-index:100;
       position:absolute;
       visibility:hidden;
    }

/*AJAX CRUD Styling*/
.ajaxCRUD {
	 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
	background: #F4F2FD;
	border-color: #BBB1ED;
	border-style: solid;
	border-width: 0px;
	padding:4px;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom:10px;
}

.ajaxCRUD th{
	background: #CFDBF3;
	font-weight: bold;
	color:#445276;
	font-size: 16px;
}

.ajaxCRUD th a{
	color: #173D7F;
}

.ajaxCRUD td a{
	border-bottom: 1px dotted #ba0000;
	font-size: 14px;
	text-decoration: none;
}

.ajaxCRUD td a:hover{
	color: #000;
	border-bottom: 1px solid #ba0000;
}

.ajaxCRUD td{
	font-size: 14px;
	background: #F9F8FB;
	color: #0B0B0B;
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
}

.ajaxCRUD td, .ajaxCRUD th{
	padding: 5px 5px;
}
/****************/
.stopselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
